<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtqtsAIFG9eNdamnrreUmiZSlN1Q3GlDI</string>
	<key>GCM_SENDER_ID</key>
	<string>774038668608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modelApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>the-collector-app</string>
	<key>STORAGE_BUCKET</key>
	<string>the-collector-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774038668608:ios:e671cdbe075173c868e6a5</string>
</dict>
</plist>